/* stylelint-disable color-function-notation */

$section-bg-primary: rgb(53, 51, 51);
$section-width-primary: 98%;

$article-bg-primary: rgb(31, 26, 26);

$btn-bg-primary: darkslategray;
$btn-bg-hover: black;

$text-color-primary: #fff;

$h1-size-lg: 2rem;
$h1-size-md: 1.2rem;

$box-shadow-primary: 1px 1px 5px 2px black;